.Favorite {
    margin-right: 20px;
    padding: 0 10px 0 10px;
    max-width: 400px;
    min-height:300px;
    max-height: 65vh;
    overflow-y: auto;
    border-radius: 6px;
    background-color: #e2b100;
}
.Favorite::-webkit-scrollbar {
    width: 15px;
    background-color: #f5f5f5;
}
.Favorite::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}
.Favorite::-webkit-scrollbar-thumb {
    background-color: #3f51b5;
}
.Favorite__title {
    display: flex;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    color: #0c161e;
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 15px;

}
.Favorite__title:before,
.Favorite__title:after {
    display: block;
    content: "";
    width: 20%;
    height: 2px;
    background-color: #0c161e;
}
.Favorite__title:before {
    margin-right: 10px;
}
.Favorite__title:after {
    margin-left: 10px;
}
.Favorite__item {
    position: relative;
    font-size: 18px;
}


