.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    margin-bottom: 30px;
    border-bottom: 4px solid #424242;
}

.Header__logo {
    color: #424242;
    text-decoration: none;

}

.Navigation {
    display: flex;
    list-style: none;
}

.Navigation__item {
    margin-left: 16px;
}

.Navigation__link {
    position: relative;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #424242;
    font-size: 20px;
}

.Navigation__link:hover {
    color: #424242;
    cursor: pointer;
}

.Navigation__link::after {
    position: absolute;
    top: 57px;
    left: 0;
    content: "";
    width: 0;
    height: 4px;
    background: #ffffff;
    -webkit-transition: width .3s linear;
    transition: width .3s linear;
}

.Navigation__link:hover::after {
    width: 100%;
}