.Posts {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 78%;
}
.Posts__empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    color: #959595;
    font-size: 38px;
    line-height: 1.5;
}

