.search__block {
    padding: 20px;
    min-width: 300px;
    width: 15%;
    height: auto;
    min-height: 500px;
    /*border: 1px solid #000;*/
    border-radius: 10px;
    /*box-shadow: 8px 7px 14px 1px rgba(0,0,0,0.5);*/
}