.Header {
    margin-bottom: 20px;
    height: 60px;
    border-bottom: 4px solid #3F51B5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Header--logo {
    color: #3F51B5;
}
.Navbar-list {
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
}
.Navbar-list>a {
    text-decoration: none;
    color: #424242;
    font-size: 25px;

}
.Navbar-list>a:hover {
    color: #9E9E9E;
}
